<%
   f = taglib("/lib/form")
   f.block do
%>
    <table style="margin-left: 30px;">
      <%
         f.entry :title => 'VM Name',
                 :field => 'vm_name',
                 :description => 'Name that will appear in nova for VM you are creating.' do
           f.textbox :clazz => 'required', :default => 'my-test-vm'
         end
         f.entry :title => 'Delete VM at Beginning',
                 :field => 'checkbox_delete_vm_at_start',
                 :description => 'With great power comes great responsibility. This deletes any VM  and key using the VM Name entered, in the account you configure here. Please take caution to not delete your coworkers infrastructure!' do
           f.checkbox :clazz => 'required', :default => 'false'
         end
         f.entry :title => 'Delete VM at End',
                 :field => 'checkbox_delete_vm_at_end',
                 :description => 'Delete the VM after the job has completed. Do you really want to pay for unused compute time? Send your data somewhere (wink).' do
           f.checkbox :clazz => 'required', :default => 'false'
         end
         f.entry :title => 'Cloud Account Username',
                 :field => 'os_username',
                 :description => 'HP Cloud account username.' do
           f.textbox :clazz => 'required', :default => 'yourhpuser'
         end
         f.entry :title => 'Password',
                 :field => 'os_password',
                 :description => 'HP Cloud account password. TIP - Use Jenkins EnvInject plugin to encrypt your password. Put the $PASSWORDVAR in this input.' do
           f.password :clazz => 'required', :default => ''
         end
         f.entry :title => 'Tenant Name',
                 :field => 'os_tenant_name',
                 :description => 'HP Cloud tenant name' do
           f.textbox :clazz => 'required', :default => 'myusername@hp.com-tenant1'
         end
         f.entry :title => 'Auth URL',
                 :field => 'os_auth_url',
                 :description => 'HP Cloud auth url' do
           f.textbox :clazz => 'required', :default => 'https://region-a.geo-1.identity.hpcloudsvc.com:35357/v2.0/'
         end
         f.entry :title => 'Region Name',
                 :field => 'os_region_name',
                 :description => 'Region where vm will be created (region-a.geo-1,region-b.geo-1)' do
           f.textbox :clazz => 'required', :default => 'region-a.geo-1'
         end
         f.entry :title => 'Zone',
                 :field => 'os_availability_zone',
                 :description => 'Zone where vm will be created (az-1,az-2,az-3,az1,az2,az3)' do
           f.textbox :clazz => 'required', :default => 'az-1'
         end
         f.entry :title => 'Image Name',
                 :field => 'vm_image_name',
                 :description => 'Operating system image that will be deployed. Partial strings allowed. First image matched is used.' do
           f.textbox :clazz => 'required', :default => 'Ubuntu Precise 12.04 LTS Server 64-bit'
         end
         f.entry :title => 'Flavor Name',
                 :field => 'vm_flavor_name',
                 :description => 'Flavor or size of vm (standard.xsmall, standard.medium, etc)' do
           f.textbox :clazz => 'required', :default => 'standard.xsmall'
         end
         f.entry :title => 'Security Group',
                 :field => 'vm_security_groups',
                 :description => 'Openstack security group (my custom group)' do
           f.textbox :clazz => 'required', :default => 'default'
         end
         f.optionalBlock :title => 'Attach Floating IP',
                         :field => 'checkbox_attach_floating_ip',
                         :inline => true do
           f.entry :title => 'Use existing floating IP',
                   :field => 'vm_floating_ip',
                   :description => 'If left empty, unused IP will be selected from defined pool. You must provision IPs manually.' do
             f.textbox :default => ''
           end
           f.entry :title => 'Pool',
                   :field => 'vm_floating_ip_pool',
                   :description => 'Pool to use when selecting unused ip. Default pool is Ext-Net.' do
             f.textbox :default => 'Ext-Net'
           end
         end

         f.optionalBlock :title => 'Upload custom-script to VM',
                         :field => 'checkbox_user_data',
                         :inline => true do
           f.entry :title => 'Script',
                   :field => 'vm_user_data_script',
                   :description => "Script is uploaded to users home dir with file name 'custom-script'" do
             f.textarea :clazz => '', :default => "echo 'Hello on VM!'"
           end
         end

         f.optionalBlock :title => 'Run commands on VM over SSH',
                         :field => 'checkbox_ssh_shell_script',
                         :inline => true do

           f.entry :title => 'Setup',
                   :field => 'ssh_shell_commands',
                   :description => 'Scripts and commands to get environment prepared for text execution' do
             f.textarea :default => ''
           end
           f.entry :title => 'Run Commands',
                   :field => 'ssh_shell_commands1',
                   :description => 'Execution of tests and such' do
             f.textarea :default => ''
           end
           f.entry :title => 'Tear Down',
                   :field => 'ssh_shell_commands2',
                   :description => 'Scripts to cleanup any goobers that may occur if there were a failure with test execution' do
             f.textarea :default => ''
           end
           f.entry :title => 'SSH User',
                   :field => 'ssh_shell_user',
                   :description => 'Provide the username that will ssh to VM' do
             f.textbox :clazz => 'required', :default => 'ubuntu'
           end
           f.entry :title => 'Authorized Key',
                   :field => 'ssh_authorized_public_key',
                   :description => 'Install public keys to authorized_keys for defined user(s)' do
             f.textarea :default => ''
           end
           f.entry :title => 'Setup Timeout Seconds',
                   :field => 'ssh_shell_timeout',
                   :description => 'Timeout for setup phase' do
             f.textbox :clazz => 'required', :default => '7200'
           end
           f.entry :title => 'SSH Main Timeout Seconds',
                   :field => 'ssh_shell_timeout1',
                   :description => 'Timeout for execution phase' do
             f.textbox :clazz => 'required', :default => '7200'
           end
           f.entry :title => 'Tear Down Timeout Seconds',
                   :field => 'ssh_shell_timeout2',
                   :description => 'Timeout for cleanup phase' do
             f.textbox :clazz => 'required', :default => '7200'
           end
           f.entry :title => 'SSH Operation Timeout Seconds',
                   :field => 'ssh_shell_operation_timeout',
                   :description => 'Not sure what this does yet... try it... maybe.' do
             f.textbox :clazz => 'required', :default => '3600'
           end
           f.entry :title => 'SSH Keep Alive Interval',
                   :field => 'ssh_shell_keepalive_interval',
                   :description => 'Keep ssh session open when idle.' do
             f.textbox :clazz => 'required', :default => '300'
           end
           f.entry :title => 'SSH Connect Retries',
                   :field => 'ssh_connect_retry_int',
                   :description => 'Waits for SSH services on newly booted VM to startup. Default is 30 connect attempts with an interval of 5 seconds.' do
             f.textbox :clazz => 'required', :default => '30'
           end
           f.entry :title => 'Fail On Soft Command Errors',
                   :field => 'ssh_fail_on_soft_error',
                   :description => 'Fails job when running unknown commands or against files that do not exist' do
             f.checkbox :clazz => '', :default => 'false'
           end
         end
         f.optionalBlock :title => 'Configure Custom Retry Settings',
                         :field => 'checkbox_custom_retry',
                         :inline => true do
           f.entry :title => 'Connect to HP Cloud',
                   :field => 'retry_connect_hpcloud_int',
                   :description => 'If connect fails intermittently, bump this up to reduce jitter.' do
             f.textbox :clazz => 'required', :default => '1'
           end
           f.entry :title => 'Delete VM Retry',
                   :field => 'retry_delete_vm_int',
                   :description => 'If delete VM fails intermittently, bump this up to reduce jitter.' do
             f.textbox :clazz => 'required', :default => '1'
           end
         end
         f.entry :title => 'Enable Verbose Logging',
                 :field => 'checkbox_verbose_logging_enabled',
                 :description => 'Enables verbose logging output' do
           f.checkbox :clazz => '', :default => 'false'
         end
         f.entry :title => 'Trim STDERR Output',
                 :field => 'stderr_lines_int',
                 :description => 'Shows X lines from the end of stderr output' do
           f.textbox :clazz => 'required', :default => '5'
         end
    %>

    </table>
<%
   end

%>
